*{
    margin: 0;
    padding: 0;
}
body{
    background-position: center;
}
h1{
    color: darkslateblue;
    position: absolute;
    top: 50px;
    left: 300px;
}
.main{
    width: 600px;
    height: 550px;
    position: absolute;
    top: 120px;
    left: 300px;
    border-left: 5px solid #999 ;
    border-bottom: 5px solid #999;
    border-right: 5px solid #999;
    border-top: 1px solid black;
    border-radius: 5px;
}
.main.messages{
    overflow-y: scroll;
}
.main .messages .chat{
    width: 350px;
    margin: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-left: 3px solid #999 ;
    border-bottom: 3px solid #999;
    border-right: 3px solid #999;
    border-top: 1px solid black;
    border-radius: 5px;
}

.main .messages .chat p{
    color: darkslateblue;
}
.main form{
    position: absolute;
    top: 500px;
}
.main form input{
    width: 430px;
    padding: 10px 5px;
    margin: 0px 10px;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.main form button{
    width: 100px;
    height: 35px;
    margin: 0 5px;
    background: linear-gradient(to right, darkslateblue, darkslateblue);
    border-radius: 30px;
    border: 0;
    outline: black;
    color: #ffffff;
    cursor: pointer;
    position: marker;
}