<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BlogsBook</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'BlogsBook/style3.css' %}">
</head>
<body>
<h1>Delete User</h1>
<div class="main">
    <h3>Are you sure you want to delete the account ?</h3><br>
     <form method="post">
    {% csrf_token %}
    <button type="submit">Yes,Delete</button>
    </form>
    <a class="cancel" href="{% url 'BlogsBook:view-user' user.id %}">No, Cancel</a>
</div>
</body>
</html>